{% extends 'base.html.twig' %}

{% block body %}
    <h1>Subjects list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Counthours</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for subject in subjects %}
            <tr>
                <td><a href="{{ path('subject_show', { 'id': subject.id }) }}">{{ subject.id }}</a></td>
                <td>{{ subject.countHours }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('subject_show', { 'id': subject.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('subject_edit', { 'id': subject.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('subject_new') }}">Create a new subject</a>
        </li>
    </ul>
{% endblock %}
