{% extends 'base.html.twig' %}

{% block body %}
    <h1>Student</h1>

    <table>
        <tbody>
            <tr>
                <th>Age</th>
                <td>{{ student.age }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ student.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ student.email }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ student.role }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ student.password }}</td>
            </tr>
            <tr>
                <th>Salt</th>
                <td>{{ student.salt }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ student.name }}</td>
            </tr>
            <tr>
                <th>Surname</th>
                <td>{{ student.surname }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('student_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('student_edit', { 'id': student.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
