{% extends 'base.html.twig' %}

{% block body %}
    <h1>Employees list</h1>

    <table>
        <thead>
            <tr>
                <th>Position</th>
                <th>Id</th>
                <th>Email</th>
                <th>Role</th>
                <th>Password</th>
                <th>Salt</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for employee in employees %}
            <tr>
                <td><a href="{{ path('employee_show', { 'id': employee.id }) }}">{{ employee.position }}</a></td>
                <td>{{ employee.id }}</td>
                <td>{{ employee.email }}</td>
                <td>{{ employee.role }}</td>
                <td>{{ employee.password }}</td>
                <td>{{ employee.salt }}</td>
                <td>{{ employee.name }}</td>
                <td>{{ employee.surname }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('employee_show', { 'id': employee.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('employee_edit', { 'id': employee.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('employee_new') }}">Create a new employee</a>
        </li>
    </ul>
{% endblock %}
