{% extends 'base.html.twig' %}

{% block body %}
    <h1>Employee</h1>

    <table>
        <tbody>
            <tr>
                <th>Position</th>
                <td>{{ employee.position }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ employee.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ employee.email }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ employee.role }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ employee.password }}</td>
            </tr>
            <tr>
                <th>Salt</th>
                <td>{{ employee.salt }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ employee.name }}</td>
            </tr>
            <tr>
                <th>Surname</th>
                <td>{{ employee.surname }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('employee_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('employee_edit', { 'id': employee.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
