{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lecture</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lecture.id }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ lecture.status }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if lecture.date %}{{ lecture.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('lecture_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('lecture_edit', { 'id': lecture.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
